* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,html {
	height:100%;
}
body{
    background-image:url("./images/bg2.jpg");
    background-size:cover;
    
}


.logo {
    margin-left: -30px;
    margin-top: -50px;
    margin-bottom: -90px;
}
.logo img {
    height: 130px;
}
marquee {
    background-color:slateblue;
    color:springgreen;
    font-family:cursive;
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    
}

.navbar {
    width: auto;
    background-color:azure;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.navbar ul {
    
    overflow: auto;
}
.navbar li{
    display: inline-block;
    font-size: 17px;
    padding: 10px;
    padding-left: 90px; 
    font-weight: bolder; 
    
}

.navbar a:hover {
    border:none;
    border-radius: 5px;
    background-color:#c0c0c0;
}

.navbar li a {
    text-decoration: none;
    color:black;
    font-family: 'Comic Neue', 'cursive';
}

.navbar li:nth-last-child(1) {
    float:right;
    margin-right: 5px;
    
}


.login-menu {
    margin: auto;
    margin-top:4%;
    /* position:absolute; */
    font-family: 'Comic Neue', 'cursive';
    /* top: 50%;
    left: 50%; */
    width: 350px;
    max-height: 495px;
    padding:70px 30px;
    /* transform: translate(-50%, -50%); */
    filter: drop-shadow(0 0 0.75rem grey);
    border-radius: 25px;
    background-color:azure;
   
    
}

.profile-pic {
    position: absolute;
    left: 30%;
    height:27%;
    top: 5%;
    width: 40%;
    filter: drop-shadow(0 0 0.2rem springgreen);
    
}


.login-menu p {
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin:5px;
}


.login-menu input[type="text"], input[type="password"]
{
    width: 100%;
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 15px;
    color:black;
    height: 40px;
    border-bottom: 3px solid limegreen;
    border-left: 2px solid red;
    border-radius: 10px;
  	
    
}

.login-menu button[type="reset"]
{
    font-size: 13px;
    border: none;
    border-radius: 3px;
    background:none;
}
.login-menu button[type='reset']:hover {
    background-color:skyblue;
}

.login-menu input[type="text"], input[type="password"]:hover {
    outline: none;
    
}

.login-menu input[type="checkbox"]
{
    margin: 15px;
    
}

.login-menu input[type="submit"]
{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 13px;
    font-size: 18px;
    color: black;
    background-color: skyblue;
    
}

.login-menu input[type="submit"]:hover
{
    cursor: pointer;
    color: black;
    background: red;
}

.login-menu a {
    font-size: 14px;
    text-decoration: none;

}
.login-menu a:hover {
    color:seagreen;
}

.login-menu h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
    padding: 5px;
}

/*Block of Code: For index.jsp form div class student-field */

.student-field p {
	font-weight:bold;
	margin-bottom:20px;
	font-size:20px;
}
.student-field {
	margin-top:4%;
	padding:40px 30px;
	background-color:azure;
	border-radius:25px;
	width:495px;
	font-family:'Comic Neue', cursive;
	font-weight:bold;
	margin-left:10px;
	height:500px;
	filter: drop-shadow(0 0 0.75rem grey);
	
}
.student-field label
{
	display: block;
	margin-left:-15px;
	padding:20px;
}
.student-field input[type="text"] {
	width:100%;
	padding-left:10px;
	padding:10px;
	border-radius:10px;
	
}

.student-field input[type="submit"], input[type="reset"] {
	margin-top:45px;
	margin-left:0px;
	padding:20px;
	border:none;
	border-radius:10px;
	background-color:skyblue;
	font-family:'Comic Neue', cursive;
	font-weight:bold;
}
.student-field input[type="reset"] {
	position:fixed;
	right:6%;
	
}

.student-field input[type="submit"]:hover, input[type="reset"]:hover {
	background-color:red;
}

.student-table
{
	margin-left:35%;
	margin-right:auto;
	margin-top:-32.7%;
	
	background-color: azure;
	border-radius:25px;
	width: 985px;
	height:500px;
	padding:10px;
	filter: drop-shadow (0 0 0.75rem grey);
}
#stud-tbl ,th, td {
	padding:20px;
	width:100%;

}
#stud_tbl tr {
	text-align:left;
	font-family:'Comic Neue', cursive;
	font-weight:bold;
	
	
}
#stud-tbl, th{
	
	border-bottom:3px solid #c0c0c0;
	
}

@media screen and (max-width: 900px){
    .navbar li:nth-last-child(1) {
        margin-top: -40px;
        margin-right: 0px;
    }

    .navbar li {
        padding-left: 60px; 
         
    }
    
    .student-table {
    	
    	position:relative;
    	width:auto;
    	margin-left:10px;
    	margin-right:10px;
    	margin-top:20px;
  	} 
  	.student-field {
  	width:auto;
  	margin-right:10px;
  	}
}

body .info {
	margin-top:20%;
	text-align:center;
	color:whitesmoke;
	font-size:50px;
	font-weight:bold;
	
}


#forlast {
	position:fixed;
	text-align:center;
	width:100%;
	background-color:black;
	bottom:0;
	padding:20px;
	color:whitesmoke;
	font-family: cursive;
    font-size: 8px;
}

