@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segio-UI', sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    background: #020412;
    color: whitesmoke;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;

}

nav {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    width: 100%;
    align-items: center;
}
nav ul {
    flex: 1;
    text-align: right;
    padding-right: 40px;
    
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 1px;
    font-size: 17px;
}

nav ul li a:hover {
    border-bottom: 1px solid crimson;
    color: #24ff48;
    transition: 0.5s;
}
/* .logo {
    cursor: pointer;
    width: 120px;
} */

nav .nav-logo{
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 900;
    color: #24ff5b;
    font-size: 40px;
    
}
.menu-icon {
    width: 35px;
    cursor: pointer;
    filter: hue-rotate(-0.9turn);
}

/* -----text-box style--- */
.text-box {
    line-height: 26px;
    margin-top: 15%;
    font-size: 17px;
    letter-spacing: 1px;

}

.text-box h1 {
    font-size: 45px;
    line-height: 140px;
}

.text-box a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    color: whitesmoke;
    border: 2px solid #36ff24;
    margin-top: 30px;
    border-radius: 6px;
    filter: drop-shadow(0px 0px 0.5rem lime);

}

.text-box .cvdownload-btn {
    font-weight: 600;
    margin-left: 25px;
    border: 1px solid limegreen;
    backgroud: skyblue;
    filter: drop-shadow(0px 0px 0.5rem green);
    color: #000;
}

.img-user {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 350px;
    filter: drop-shadow(0 0 0.5rem rgb(108, 201, 165));
}

.text-box span {
    color: rgb(81, 255, 0);
}

/* ---Contact Me---Form--- */

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items:center;
    justify-content: center;
}

form {
    display:flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 30%;
    max-width: 600px;
    border-radius: 13px;
    background:whitesmoke;
    filter: drop-shadow(0px 0px 0.5rem lime);
}

form h3 {
    color: dimgray;
    font-weight: bolder;
    margin-bottom: 50px;
    font-size: 25px;
}

form input, form textarea {
    border: none;
    border-bottom: 3px solid rgb(20, 220, 127);
    border-left: 3px solid rgb(20, 197, 220);
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    font-size: 16px;
    background: whitesmoke;
}

form button {
    padding: 15px;
    background: #ff536f;
    color: #fff;
    font-size: 18px;
    outline: none;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 13px;
    border:0;
    cursor: pointer;
    
}
