@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segio-UI', sans-serif;
    /* outline:solid; */
}


body {
    width: 100%;
    height: 100vh;
    /* background: #020412; messed up color why use, use gradient so linear haha*/
    background: linear-gradient(#e66465, #9198e5);
    color: whitesmoke;
    padding-left: 40px;
    padding-right: 40px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    
}
nav ul {
    flex: 1;
    text-align: right;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 0px;
    
}

nav ul li a {
    margin-left: 30px;
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 1px;
    font-size: 17px;
    /* border-bottom: 1px solid green;border-right: 1px solid green; */
}


nav ul li a:hover {
    border-radius: 13px;
    background: rgb(87, 230, 111);
    padding: 5px;
    color: black;
    transition: 0.5s;
}
.logo {
    cursor: pointer;
    position: fixed;
    top:2%;
    left: 2%;
    height: 80px;

}

/* nav .nav-logo{
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 900;
    color: #24ff5b;
    font-size: 35px;
    
} */
.menu-icon {
    width: 35px;
    cursor: pointer;
    filter: hue-rotate(-0.9turn);
}

/* -----text-box style--- */
.text-box {
    line-height: 26px;
    margin-top: 15%;
    font-size: 17px;
    letter-spacing: 1px;

}

.text-box h1 {
    font-size: 40px;
    line-height: 140px;
}

.text-box a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    color: #bce5f5;
    /* border: 1px solid #36ff24; */
    margin-top: 30px;
    border-radius: 6px;
    background: rgb(92, 109, 204);

}

.text-box a:hover {
    filter: drop-shadow(0px 0px 1.5rem whitesmoke);
}

.text-box .cvdownload-btn {
    margin-left: 25px;
    background: #74f8e7;
    color: rgb(110, 101, 101);
    border: none;
}

.img-user {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 350px;
    filter: drop-shadow(0 0 0.5rem rgb(108, 201, 165));
}

.text-box span {
    color: rgb(81, 255, 0);
}


/* ---Contact Me---Form--- */

/* .container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items:center;
    justify-content: center;
} */

form {
    position: fixed;
    top: 20%;
    left: 35%;
    display:flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 30%;
    max-width: 600px;
    border-radius: 13px;
    background:whitesmoke;
    filter: drop-shadow(0px 0px 0.5rem lime);
}

form h3 {
    color: dimgray;
    font-weight: bolder;
    margin-bottom: 50px;
    font-size: 25px;
}

form input, form textarea {
    border: none;
    border-bottom: 3px solid rgb(20, 220, 127);
    border-left: 3px solid rgb(20, 197, 220);
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    outline: none;
    font-size: 16px;
    background: whitesmoke;
}

form button {
    padding: 15px;
    background: #ff536f;
    color: #fff;
    font-size: 18px;
    outline: none;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 13px;
    border:0;
    cursor: pointer;
    
}
.mobile-menu {
    display: none;
}
#open-menu {
    display: none;
}


/* For Mobile Devices Screen */

@media (max-width: 1080px) {
    nav ul a {
        display: none;
    }

    .logo {
        height: 50px;
        padding-left: 20px;
    }
    .text-box p {
        font-style: italic;
       
    }
    .text-box span {
        font-size: 28px;
    }
    .text-box .contactbtn ,.cvdownload-btn{
        position:fixed;
        bottom: 5%;
    }
    .text-box .cvdownload-btn {
        right: 8%;
    }

    .menu-icon {
        height: 20px;
        width: 25px;
    }

    .text-box a {
        padding: 10px;
        font-size: smaller;
        font-weight: 100;
    }
    .text-box .cvdownload-btn {
        font-size: smaller;
        font-weight:100;
        color: darkgreen;
    }
    .text-box {
        margin-top: 25%;
    }

    #side-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 150px;
        padding: 40px 0px 0px 20px;
        top: 0;
        right: 0;
        background: whitesmoke;
        height: 100vh;
    }
    #side-menu a {
        text-decoration: none;
        padding: 10px;
        color: black;
    }
    .fa {
        position: fixed;
        top: 2%;
        right: 5%;
        color: black;
        cursor: pointer;
    }

    #open-menu {
        display: block;
    }

    form {
        left: 5%;
        width: 90%;
    }
    form h3 {
        font-size: 20px;
        padding:10px;
    }
    
}  
